.home {
    margin-top: 40px;
    .title {
        display: flex;
        .arrow-right {
            width: 20px;
            height: 20px;
            background: url("../../../../assets/fonts/arrow-right.png") no-repeat;
            background-size: cover;
        }
    }

    .container {
        // overflow:hidden;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        .list-item{       
            margin-right: 2.5%;
            width: 18%;
            .list-img {
                width: 100%;
                aspect-ratio: 1 / 1;
                // padding-top: 100%;
                // padding-top: 100%;
                // aspect-ratio: 1 / 1;
            }
            &:nth-child(5n) {
                margin-right: 0%;
            }
            &:nth-child(n+6) {
                display:none;
            }
        }        
    }
}