.home {
    margin-top: 40px;
    .title {
        display: flex;
        .arrow-right {
            width: 20px;
            height: 20px;
            background: url("../../../../assets/fonts/arrow-right.png") no-repeat;
            background-size: cover;
        }
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        .list-item{    
            margin-right: 2.5%;
            width: 23%;
            .list-img {
                width: 100%;
                aspect-ratio: 5 / 3;
            }
            &:nth-child(4n) {
                margin-right: 0%;
            }
            &:nth-child(n+5) {
                display:none;
            }
            .txt {
                text-align: left;
            }
        }        
    }
}