.home {
  margin-top: 40px;
  .title {
    display: flex;
    .arrow-right {
      width: 20px;
      height: 20px;
      background: url("../../../../assets/fonts/arrow-right.png") no-repeat;
      background-size: cover;
    }
  }

  .container {
    width:70%;
    height:200px;
    display: -webkit-flex; /* Safari */
    -webkit-flex-flow: row-reverse wrap; /* Safari 6.1+ */
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    .list-item {
      // margin:0 0 20px 0; // 元素逆序排，单个不好算，下一个模块加margin-top:20px
      width: 70%;
      display: flex;
      // border: 1px solid red;
      // padding-bottom: 20px;
      .list-img {
        width: 20%;
        aspect-ratio: 1 / 1;
      }
      &:nth-child(5n) {
        margin-right: 0%;
      }

      &:nth-child(n + 6) {
        display: none;
      }
      .info {
        display: flex;
        align-items: center;
        .num{
          padding: 0 5px;
        }

      }
      // .txt {
      //   text-align: left;
      // }
    }
  }
}